@use '../../../../../styles/mixins' as *;

:host {
    width: 50%;
}

button{
    @include padding-1_5;
    @include font-size-small;
    @include border-radius-1;
    width: 100%;
    color: var(--color-background-default);
    background-color: var(--color-surface-destak);
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
        background-color: var(--color-surface-destak);
        opacity: 0.6;
    }
}