@use '../../../../../styles/mixins' as *;

:host{
    width: 100%;
}

.form-event-picker-content{
    @include flex-column-left-top;
    gap: 1rem;
    width: 100%;

    .label{
        @include font-size-medium;
        color: var(--color-text-secondary);
    }

    .form-event-picker-tags{
        @include flex-row-center;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
        
        .form-event-picker-tag{
            @include flex-row-center;
            @include font-size-medium;
            padding: 0.4rem 0.8rem;
            border-radius: .5rem;
            width: calc(25% - .75rem);
            cursor: pointer;
            transition: transform .3s ease;

            &:hover{
                transform: scale(1.1);
                transition: transform .3s ease;
            }
        }

        .form-event-picker-tag.selected{
            transform: translateY(-.5rem);
        }


    }
}