@use '../../../styles/mixins' as *;

.form-modal-template-overlay{
    @include flex-column-center-top;
    width: 100%;
    height: 100%;
    background-color: var(--color-background-modal);
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    animation: fadeIn 0.3s ease;
 

    .form-modal-template-content{
        @include flex-column-center-top;
        @include border-radius-2;
        @include shadow;
        @include gap-2;
        width: clamp(500px, 90vh, 70vw);
        height: auto;
        max-height: 90vh;
        overflow: auto;
        margin-top: clamp(50px, 5vh, 7vw);
        background-color: var(--color-surface-light);
        animation: slideIn 0.3s ease;

        .form-modal-template-content-header{
            @include flex-row-center-space-between;
            width: 100%;

            i{
                @include border-radius-3;
                @include flex-row-center;
                font-size: 1rem;
                cursor: pointer;
                width: 1.7rem;
                height: 1.7rem;
                transform: scale(.7);
                background-color: var(--color-text-primary);
                color: var(--color-surface-light);

                transition: all 0.3s ease;
                margin: .7rem .7rem 0 0;
                &:hover{
                    transform: scale(.8);
                    transition: all 0.3s ease;
                }
            }
        }

        .form-modal-template-content-display{
            @include flex-column-center-top;
            padding: 1rem;
            width: 100%;
            height: 100%;
        }
    }

    .form-modal-template-buttons{
        @include flex-row-center-right;
        @include gap-1;
        padding: 1rem;
        width: 100%;
    }
}

@keyframes fadeIn {
  from { opacity: 0; } to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-10px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}