<div 
  class="form-modal-template-overlay" 
  *ngIf="isOpen" 
  (click)="close()">

  <div class="form-modal-template-content" (click)="$event.stopPropagation()">
    <div class="form-modal-template-content-header">
      <app-shell-header [title]="title" [subtitle]="subtitle"></app-shell-header>
      <i class="fas fa-xmark" (click)="close()"></i>
    </div>

    <div class="form-modal-template-content-display">
        <app-form-institution [hidden]="context !== getTableContextEnum.Institution">></app-form-institution>
        <app-form-department [hidden]="context !== getTableContextEnum.Department"></app-form-department>
    </div>

    <div class="form-modal-template-buttons">
      <app-button label="Cancelar" icon="fa-ban" type="seccondary" (click)="close()"></app-button>
      <app-button label="Salvar" icon="fa-floppy-disk" (click)="save()"></app-button>
    </div>
  </div>
</div>
