<div 
  class="form-modal-template-overlay" 
  *ngIf="isOpen" 
  (click)="close()">

  <div class="form-modal-template-content" (click)="$event.stopPropagation()">
    <div class="form-modal-template-content-header">
      <app-shell-header [title]="title" [subtitle]="subtitle"></app-shell-header>
      <i class="fas fa-xmark" (click)="close()"></i>
    </div>

    @if(action !== 'delete'){
      <div class="form-modal-template-content-display">
        <app-form-subject *ngIf="context === getTableContextEnum.Subjects"></app-form-subject>
      </div>
    }@else{
      <app-form-confirm-display-delete [name]="nameConfirm" [context]="context"></app-form-confirm-display-delete>
    }

    <div class="form-modal-template-buttons">
      <app-button label="Cancelar" icon="fa-ban" type="secondary" (click)="close()"></app-button>
      <app-button label="Excluir" *ngIf="action == 'edit'" icon="fa-trash" type="delete" (click)="openDelete()"></app-button>
      <app-button label="Salvar" *ngIf="action !== 'delete'" icon="fa-floppy-disk" (click)="save()"></app-button>
      <app-button label="Confirmar Exclusão" *ngIf="action == 'delete'" icon="fa-trash" type="delete" (click)="confirmDelete()"></app-button>
    </div>
  </div>
</div>
