<div class="form-calendar-template-content">
    <div class="form-calendar-template-header">
        <div class="icon">
            <i class="fas fa-xmark" (click)="changeState('void')"></i>
        </div>
    </div>

    <ng-container *ngIf="_scheduleService.selectedDayState$ | async as selectedDate">
        <span class="title-day">
            <i class="fas fa-arrow-left" (click)="prevState()"></i>
            Dia: {{ selectedDate | date:'dd/MM/yyyy' }}
        </span>
    </ng-container>


    <ng-container *ngIf="_scheduleService.viewState$ | async as state">
        <ng-container *ngIf="state === 'view_tasks'">
            <div class="form-entity-content">
                
                <app-view-tasks-state></app-view-tasks-state>

                <app-button 
                    (click)="changeState('new_task')"
                    [label]="'Adicionar Tarefa'"
                    [icon]="'fas fa-circle-plus'"
                    >
                </app-button>
            </div>
        </ng-container>

        <ng-container *ngIf="state === 'new_task'">
            <app-new-task-state 
                [subjectOptions]="subjectOptions" 
                [isEditMode]="false">
            </app-new-task-state>        
        </ng-container>

        <ng-container *ngIf="state === 'edit_task'">
            <app-new-task-state 
                [subjectOptions]="subjectOptions" 
                [isEditMode]="true">
            </app-new-task-state>
        </ng-container>
    </ng-container>
</div>
