<div class="alert-surface-content">
  <app-alert *ngFor="let alert of alerts$ | async" 
    [class]="getAlertClass(alert.type)"
    [message]="alert.message"
    [id]="alert.id"
  >
  </app-alert>
  <!-- <div *ngFor="let alert of alerts$ | async" 
       class="alert-toast" 
       [ngClass]="getAlertClass(alert.type)">
    
    <span class="alert-message">{{ alert.message }}</span>
    
    <button class="alert-dismiss" (click)="dismiss(alert.id)">
      &times;
    </button>
  </div> -->
</div>
