@use '../../../../styles/mixins' as *;

.alert-surface-content {
  @include flex-column-center-top;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 10000;
  gap: 10px;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; } to { opacity: 1; }
}