@use '@angular/material' as mat;

$my-theme: mat.define-theme((
  color: (
    theme-type: light
  ),
));

@include mat.all-component-themes($my-theme);

.mat-mdc-checkbox .mdc-checkbox__native-control:checked + .mdc-checkbox__background {
  background-color: #6E15EB !important;
  border-color: #6E15EB !important;
}

.mat-mdc-checkbox .mdc-checkbox__background .mdc-checkbox__checkmark-path {
  stroke: #fff !important;
}

:root {
    --color-text-primary: #081616;
    --color-text-secondary: #A4A4A4;
    --color-text-destak: #6E15EB;
    --color-text-light: #FFD3FF;
    --color-surface-light: #FFFFFF;
    --color-surface-overlay: rgba(8, 59, 60, .45);
    --color-surface-destak: #673AB7;
    --color-background-default: #EFF2FD;
    --color-background-secondary: #EFF3FF;
    --color-background-tertiary: #BDCAFF;
    --color-background-quaternary: #c4b8e8;
    --color-shadow: #F3F2FB;
    --color-shadow-dark: #c5c3ce;
    --color-background-light: rgba(86, 95, 96, .08);
    --color-background-modal: rgba(116, 116, 116, 0.5);
    --image-background-login: url("./assets/background-login.jpeg");
    --image-not-found: url("./assets/404-image.png");
    --image-logo: url("./assets/image-logo.png");

    --color-text-success: #14934b;
    --color-background-success: #E8FDEC;
    --color-text-error: #DD4C73;
    --color-background-error: #FBE9E7;
    --color-text-warn: #FA9C42;
    --color-background-warn: #FFF2EA;
    --color-text-info: #1986CF;
    --color-background-info: #E8EFFD;
}

.dark-theme {
    --color-text-primary: #E4E4E4;
    --color-text-secondary: #A4A4A4;
    --color-text-destak: #FFD3FF;
    --color-text-light: #431c79;
    --color-surface-light: #353535;
    --color-surface-overlay: rgb(24, 36, 34, .5);
    --color-surface-destak: #c09cff;
    --color-background-default: #535353;
    --color-background-secondary: #1f1f1f;
    --color-background-tertiary: #BDCAFF;
    --color-background-quaternary: #8374ad;
    --color-shadow: #404044;
    --color-shadow-dark: #5c5a63;
    --color-background-light: #212121;
    --color-background-modal: rgba(116, 116, 116, 0.5);
    --image-background-login: url("./assets/background-login-dark.png");
    --image-not-found: url("./assets/404-image.png");
    --image-logo: url("./assets/image-logo-dark.png");

    --color-text-success: #14934b;
    --color-background-success: #E8FDEC;
    --color-text-error: #DD4C73;
    --color-background-error: #FBE9E7;
    --color-text-warn: #FA9C42;
    --color-background-warn: #FFF2EA;
    --color-text-info: #1986CF;
    --color-background-info: #E8EFFD;
}

body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    font-family: 'Comfortaa', cursive;
    font-weight: 800;
}

:root, .dark-theme {
    transition: all 0.3s ease;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-surface-light);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-text-destak);
  border-radius: 10px;
  border: 2px solid var(--color-surface-light);
  background-clip: content-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-text-destak) var(--color-surface-light);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.mat-mdc-menu-panel {
  background-color: var(--color-background-default)!important;
  color: var(--color-text-primary)!important;
}

