.login-logo-content {
    width: 10rem;
    height: 3rem;
    background-image: url('../../../../../assets/image-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}