@use '../../../../../styles/mixins' as *;

.form-input-content{
    @include flex-column-left-top;
    @include gap-0_5;
    position: relative;
    color: var(--color-text-primary);
    width: 100%;
    
    input, textarea {
        @include padding-1_5;
        @include border-radius-1;
        width: 100%;
        height: 2.5rem;
        box-sizing: border-box;
        border: none;
        background-color: var(--color-background-light);
        color: var(--color-text-primary);   
        padding-right: 2rem;
        outline: none;
        transition: box-shadow 0.2s ease, border 0.2s ease;
        box-shadow: 0 0 0 2px transparent;

        &:focus {
            box-shadow: 0 0 0 2px  var(--color-text-destak);
            background-color: var(--color-background-secondary);
        }

        &.is-invalid {
            box-shadow: 0 0 0 2px rgba(220, 53, 69, 0.6);
            background-color: rgba(220, 53, 69, 0.05);
        }
    }

    input[type="number"]{
        padding-right: 1rem;
    }

    textarea{
        height: 5rem;
        resize: none;
    }

    span{
        @include font-size-small;
        margin-left: 1%;
    }

    i{
        @include font-size-medium;
        position: absolute;
        right: 10px;
        top: calc(50% + .1rem);
        cursor: pointer;
    }

    .fa-lock{
        cursor: default;
        color: var(--color-surface-destak)
    }

    .input-loading{
        @include padding-1_5;
        @include border-radius-1;
        width: 100%;
        height: 2.5rem;
        background-color: var(--color-background-secondary);
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -50%;
            height: 100%;
            width: 100%;
            background: linear-gradient(90deg, transparent, var(--color-background-modal), transparent);
            animation: shimmer 1.2s infinite;
        }
    }

}

@keyframes shimmer {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(150%);
    }
}
