<div class="form-input-content">
    <span> {{ label }}  <i class="fas fa-lock" *ngIf="disabled"></i></span>

    @if (!loading) {
      <input 
      [placeholder]="placeholder" 
      [type]="inputType" 
      [value]="value" 
      (input)="onInput($event)" 
      (blur)="onTouched()"
      class="input-field"
      [class.is-invalid]="isInvalid"
      [disabled]="disabled"
      [required]="required"
      />
      
      <i class="fa-solid" 
          [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'" 
          (click)="onToggleEye()"
          *ngIf="type === 'password'"
          >
      </i>
    }@else{
      <div class="input-loading">

      </div>
    }
    
</div>
