@use '../../../../../styles/mixins' as *;

:host {
    width: 100%;
}

.sidebar-item-content{
    @include flex-column-center-top;
    @include gap-1;
    width: 100%;

    h5{
        color: var(--color-text-secondary);
        text-align: left;
                width: 100%;

    }

    .sidebar-item-content-subitem{
        * {
            color: var(--color-text-destak);  
        }

        i{
            width: 1rem;
        }
        
        @include flex-row-center-left;
        @include gap-2;
        @include padding-2;
        @include border-radius-1;
        width: 100%;

        &:hover{
            cursor: pointer;
            background-color: var(--color-text-destak); 
            
            * {
                color: var(--color-text-light)!important;  
            } 
        }
    }
}