<div class="table-section">
  <div class="table-section-header">
    <div class="table-section-header-input" *ngIf="enableSearch">
      <input type="text" placeholder="Pesquisar..." (input)="onSearch($event)">
      <i class="fas fa-magnifying-glass"></i>
    </div>

    <app-button [label]="getCreateButtonLabel" [icon]="'fa-circle-plus'" (buttonClick)="openCreateModal()" *ngIf="enableCreate"></app-button>
  </div>

  <div class="table-content">
    @if (getPaginatedRows.length > 0){
      <table class="table">
        <thead>
          <tr>
            <th *ngFor="let header of headers">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of getPaginatedRows; let isLastRow = last" 
            (click)="onRowClick(row)" 
            app-table-row 
            [row]="row" 
            [columns]="columns"
            [context]="context"
            [isSelected]="isSelected(row.id)" 
            [isLastRow]="isLastRow">
          </tr>
        </tbody>
      </table>

      <div class="paginator" *ngIf="enablePagination">
        <div class="paginator-pages">
          <ng-container *ngFor="let page of visiblePages">
            <i class="fa-solid fa-circle" [class.active]="page === currentPage" (click)="goToPage(page)"
              *ngIf="page !== '...'">
            </i>
            <span *ngIf="page === '...'">...</span>
          </ng-container>
        </div>

        <div class="paginator-navigation">
          <i class="fa-solid fa-circle-chevron-left" (click)="previousPage()" [class.disabled]="currentPage === 1">
          </i>
          <i class="fa-solid fa-circle-chevron-right" (click)="nextPage()" [class.disabled]="currentPage === totalPages">
          </i>
        </div>
      </div>
    }@else{
      <app-no-data></app-no-data>
    }
  </div>
</div>