@use '../../../../styles/mixins' as *;

.table-section{
    width: 100%;
    height: 100%;
    @include flex-column-left-top;
    @include gap-1;

    .table-section-header{
        width: 100%;
        @include flex-row-center-space-between;
        
        .table-section-header-input{
            position: relative;
            background-color: var(--color-background-default);
            padding: .2rem .5rem .2rem .2rem;
            @include flex-row-center;
            border-radius: .4rem;
            color: var(--color-text-primary);
            height: 2rem;

            input{
                background-color: transparent;
                border: none;
                outline: none;
                padding: .2rem;
            }

            i{
                font-size: .9rem;
            }
        }

        .table-section-header-button{
            background-color: var(--color-text-destak);
            border: none;
            color: var(--color-text-light);
            padding: .5rem;
            @include flex-row-center;
            gap: .5rem;
            height: 2rem;
            border-radius: .4rem;
            cursor: pointer;
            transition: all 0.3s ease;

            i{
                font-size: 1rem;
            }

            &:hover{
                transform: scale(1.1);
                transition: all 0.3s ease;
            }
        }
    }
    
    .table-content {
        width: 100%;
        height: 100%;
        overflow: auto;
        @include flex-column-center-space-between;

        .table {
            width: 100%;
            border-spacing: 0;
            @include shadow;
            gap: 0;

            th {
                background-color: var(--color-background-default);
                font-weight: bolder;
                @include font-size-medium;
                padding: 1rem 2rem;
                text-align: left;

                &:first-child {
                    border-top-left-radius: 1rem;
                }

                &:last-child {
                    border-top-right-radius: 1rem;
                }
            }
        }

        .paginator {
            width: 100%;
            height: auto;
            padding: 1rem;
            border-top: .15rem solid var(--color-background-default);
            @include flex-row-center-space-between;

            .paginator-pages *,
            .paginator-navigation * {
                cursor: pointer;
                transition: all .2s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .paginator-pages {
                @include flex-row-center-space-between;
                gap: .5rem;
                font-size: .7rem;
                color: var(--color-text-secondary);


                i.active {
                    color: var(--color-text-destak);
                }
            }

            .paginator-navigation {
                @include flex-row-center-space-between;
                gap: .5rem;
                font-size: 1.2rem;
                color: var(--color-background-tertiary);

                i.disabled {
                    opacity: 0.4;
                    cursor: not-allowed;

                    &:hover {
                        transform: scale(1); // impede animação
                    }
                }
            }
        }
    }
}
