@use '../../../../styles/mixins' as *;

:host{
    height: 100%;
}

.closed{
    width: clamp(100px, 10vh, 10vw)!important;
    transition: all 0.3s ease;

    .side-bar-content-logo{
        transition: all 0.3s ease;
        background-image: url('../../../../assets/logo-alone.png')!important;
    }
}

.closed-subitem{
    align-self: center!important;
    margin-left: 0rem!important;
}

.sidebar-content{
    @include flex-column-center-top;
    width: clamp(300px, 30vh, 30vw);
    height: 100%;
    transition: all 0.3s ease;
    overflow-y: auto;

    .side-bar-content-subitem-toggle{
        @include flex-row-center-left;
        @include padding-2;
        @include border-radius-3;
        width: auto;
        align-self: flex-start;
        margin-left: 1rem;

        * {
            color: var(--color-text-destak);  
        }

        i{
            width: 1rem;
        }
    
        &:hover{
            cursor: pointer;
            background-color: var(--color-text-destak); 
            
            * {
                color: var(--color-text-light)!important;  
            } 
        }
    }

    .side-bar-content-logo{
        width: 80%;
        height: 5rem;
        background-image: url('../../../../assets/image-logo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: all 0.3s ease;
    }

    .sidebar-content-section{
        @include padding-2;
        @include flex-column-left-top;
        @include gap-3;
        width: 100%;

    }   
}

