<div class="calendar-container">
    <div class="week-days-header">
        <div *ngFor="let day of weekDays" class="week-day-label">
            {{ day }}
        </div>
    </div>

    <div class="days-grid">
        <div *ngFor="let day of calendarDays" class="day-cell" [ngClass]="{
                'disabled-month': !day.isCurrentMonth,
                'is-today': day.isToday,
                'selected-day': checkIsSelected(day.date)
             }" (click)="onDayClick(day)">

            <span class="day-number">{{ day.dayNumber }}</span>

            <div class="task-count-badge" *ngIf="day.taskCount && day.taskCount > 0">
                <span>
                    {{ day.taskCount }}
                </span>
                <h6> 
                    {{ day.taskCount === 1 ? 'tarefa' : 'tarefas' }}
                </h6>
            </div>
            
        </div>
    </div>
</div>