
@use '../../../../styles/mixins' as *;

:host{
    width: 100%;
    height: 100%;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--color-surface-light);
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.week-days-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: var(--color-background-secondary);
    border-radius: .8rem .8rem 0 0;
    border-top: solid 1px var(--border-color);
    border-left: solid 1px var(--border-color);
    border-right: solid 1px var(--border-color);

    .week-day-label {
        text-align: center;
        font-weight: 600;
        color: var(--color-text-surface);
        padding: 0.5rem;
        font-size: 0.7rem;
        border-right: solid 1px var(--border-color);

        &:last-child {
            border-right: none;
        }
    }
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    gap: 1px;
    background-color: var(--color-border-light);
    border: 1px solid var(--border-color);
    border-top: none;
    flex-grow: 1;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;

    .day-cell {
        background-color: var(--color-surface-light);
        min-height: 100px;
        padding: 0.5rem;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        transition: background-color 0.2s;
        border-right: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);

        &:hover {
            background-color: var(--color-background-secondary);
        }

        .day-number {
            @include flex-row-center;
            font-weight: 500;
            font-size: 0.7rem;
            width: 1.3rem;
            height: 1.3rem;
            border-radius: 100%;
            margin-left: auto;
            color: var(--color-text-primary);
        }

        &.disabled-month {
            background-color: var(--color-shadow);
            color: var(--color-text-surface);
            
            .day-number {
                color: var(--color-text-surface);
            }
        }

        &.is-today {
            .day-number {
                border: 2px solid var(--color-text-destak);
            }
        }

        &.selected-day {
            background-color: var(--color-background-pink);

            .day-number {
                background-color: var(--color-text-pink);
                color: var(--color-surface-light);
            }
        }
    }
}

        
