@use '../../../../styles/mixins' as *;

:host {
    width: 100%;
    color: var(--color-text-primary);

    &:hover{
        background-color: var(--color-background-default);
        cursor: pointer;
    }
}
