@use '../../../../styles/mixins' as *;

:host {
    width: 100%;
    color: var(--color-text-primary);

    &:hover{
        background-color: var(--color-background-default);
        cursor: pointer;
    }
}


td.td-checkbox {
  width: 10%;
  text-align: center;
  padding: 0;
}