@use '../../../styles/mixins' as *;

.shell-content{
    @include flex-row-center-left;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background-secondary);

    .shell-content-display{
        @include gap-3;
        @include flex-column-left-top;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: var(--color-surface-light);
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;
    }

    .sidebar{
        height: 100%;
        width: clamp(390px, 39vh, 39vw);
    }
}