@use '../../../../../../styles/mixins' as *;

:host{
    width: 100%;
    height: 100%;
}

.view-tasks-content {
    @include flex-column-center-top;
    gap: 1rem;
    padding: 1rem;
    height: 100%;
    max-height: 55vh;
    overflow-y: auto;
    
    .header {
        margin-bottom: 1.5rem;
        h3 {
            color: var(--color-text-primary);
            font-size: 1.1rem;
            font-weight: 600;
        }
    }
}


.empty-state {
    text-align: center;
    color: var(--color-text-secondary);
    padding: 2rem;
    border: 1px dashed var(--color-text-secondary);
    border-radius: 8px;
}

.task-card {
    width: 100%;
    border-radius: 12px;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    border-left: 4px solid transparent;
    transition: transform 0.2s;
    cursor: pointer;

    &:hover {
        transform: translateY(-.5rem);
        box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    }

    .task-title {
        font-size: 1.1rem;
        font-weight: 600;
    }

    .task-time {
        font-size: 0.9rem;
        font-weight: 500;
    }

    .tags-row {
        display: flex;
        gap: 0.5rem;
        
        .tag {
            padding: 0.25rem 0.75rem;
            border-radius: 6px;
            font-size: 0.8rem;
            font-weight: 500;
            background-color: transparent;
            border: 1px solid;
        }
    }

    .task-description {
        font-size: 0.95rem;
        line-height: 1.4;
    }

    &.prova {
        background-color: var(--color-background-error);
        
        .task-title, .task-time, .task-description {
            color: var(--color-text-error);
        }

        .tags-row .tag {
            border-color: var(--color-text-error);
            color: var(--color-text-error);
        }
    }

    &.trabalho {
        background-color: var(--color-background-warn);
        
        .task-title, .task-time, .task-description {
            color: var(--color-text-warn);
        }
        
        .tags-row .tag {
            border-color: var(--color-text-warn);
            color: var(--color-text-warn);
        }
    }

    &.atividade {
        background-color: var(--color-background-quaternary);
        
        .task-title, .task-time, .task-description {
            color: var(--color-surface-destak);
        }

        .tags-row .tag {
            border-color: var(--color-surface-destak);
            color: var(--color-surface-destak);
        }
    }

    &.outros {
        background-color: var(--color-background-pink);
        
        .task-title, .task-time, .task-description {
            color: var(--color-text-pink);
        }

        .tags-row .tag {
            border-color: var(--color-text-pink);
            color: var(--color-text-pink);
        }
    }

}