@use '../../../../../../styles/mixins' as *;

:host{
    width: 100%;
    height: 100%;
}

.view-tasks-content, .view-schedules-content {
    @include flex-column-center-top;
    gap: 1rem;
    padding: 1rem;
    height: 100%;
    max-height: 55vh;
    overflow-y: auto;
}


.empty-state {
    text-align: center;
    color: var(--color-text-secondary);
    padding: 2rem;
    border: 1px dashed var(--color-text-secondary);
    border-radius: 8px;
}

.task-card {
    width: 100%;
    border-radius: 12px;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    border-left: 4px solid transparent;
    transition: transform 0.2s;
    cursor: pointer;

    .card-header {
        @include flex-row-center-space-between;
        width: 100%;
    }

    &:hover {
        transform: translateY(-.5rem);
        box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    }

    .task-title {
        font-size: 1.1rem;
        font-weight: 600;
    }

    .task-time {
        font-size: 0.9rem;
        font-weight: 500;
    }

    .tags-row {
        display: flex;
        gap: 0.5rem;
        
        .tag {
            padding: 0.25rem 0.75rem;
            border-radius: 6px;
            font-size: 0.8rem;
            font-weight: 500;
            background-color: transparent;
            border: 1px solid;
        }
    }

    .task-description {
        font-size: 0.95rem;
        line-height: 1.4;
    }
}