@use '../../../styles/mixins' as *;

:host{
    width: 100%;
    height: 100%;
}

.schedule-page-container {
    @include flex-row-center-top;
    width: 100%;
    height: auto;
    padding: 1.5rem;
    gap: 2rem;

    @media (max-width: 800px) {
        @include flex-column-center-top;
        padding: 1rem;
    }
}

.calendar-section {
    flex: 2;
    display: flex;
    flex-direction: column;

    @media (max-width: 800px) {
        width: 100%!important;
    }
}

.form-section {
    flex: 1;
    background-color: var(--color-background-primary);
    border-radius: 1rem;
    padding: 1rem;
    height: 100%;

    @media (max-width: 800px) {
        width: 100%!important;
    }
}

.calendar-header {
    @include flex-row-center-left;
    margin-bottom: 1rem;
    gap: 1rem;

    h3 {
        font-size: 1.5rem;
        color: var(--color-text-primary);
        font-weight: 600;
        width: 15rem;
    }

    .nav-buttons {
        display: flex;
        gap: 0.5rem;

        i {
            @include font-size-larger;
                transition: all .3s ease;
                color: var(--color-text-destak);

            &:hover{
                cursor: pointer;
                transition: all .3s ease;
                transform: scale(1.1);
            }
        }
    }
}

.grid-wrapper {
    flex-grow: 1; 
    overflow: hidden;
}