@use '../../../../../styles/mixins' as *;

.theme-switcher-wrapper {
    @include flex-row-center;
    @include gap_1;
}

.label {
    @include font-size-medium;
    font-weight: 600;
    color: var(--color-text-primary);
    transition: color 0.3s ease-in-out;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    cursor: pointer;

    input {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
    }
}

.slider {
    @include border-radius-3;
    position: relative;
    display: block;
    width: clamp(30px, 6vw, 55px);
    height: clamp(15px, 3vw, 25px);
    background-color: var(--color-background-tertiary);
    transition: background-color 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.circle {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: .1rem;
    left: .1rem;
    width: calc(clamp(10px, 3vw, 23px) - .1rem);
    height: calc(clamp(10px, 2vw, 23px) - .1rem);
    background-color: #ffffff;
    border-radius: 50%;
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);

    .crater {
        position: absolute;
        background-color: #e0e0e0;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .crater-1 {
        top: 3px;
        left: 14px;
        width: 5px;
        height: 5px;
    }

    .crater-2 {
        top: 13px;
        left: 10px;
        width: 7px;
        height: 7px;
    }

    .crater-3 {
        top: 6px;
        left: 5px;
        width: 4px;
        height: 4px;
    }
}

input:checked+.slider {
    background-color: var(--color-background-tertiary);

    .circle {
        transform: translateX(30px);

        .crater {
            opacity: 1;
        }
    }
}