@use '../../../../styles/mixins' as *;

.schedule-toggle-content{
    @include flex-row-center;
    @include padding-1;
    @include border-radius-1;
    @include gap-3;
    background-color: var(--color-background-secondary);

    *{
        @include font-size-small;
    }

    button{
        @include flex-row-center;
        @include border-radius-1;
        padding: .5rem 1rem;
        cursor: pointer;
        border: none;
        background-color: transparent;
        color: var(--color-text-destak);
        transition: transform 0.2s;

        &:hover{
            transform: scale(1.1);
            transition: transform 0.2s;
        }

        &.active{
            background-color: var(--color-text-destak);
            color: var(--color-background-secondary);
        }

        &.active:hover{
            transform: scale(1);
            cursor: default;
        }

    }
}