<div class="form-time-picker-content">
    <span class="title"> {{ label }} </span>

    <div class="form-time-picker-boxes">
        <label class="form-time-picker-box">
            <div>
                <span> de </span>
                @if (!loading) {
                    <input 
                        type="time" 
                        #start 
                        [value]="startValue" 
                        (input)="updateStart(start.value)" />  
                }@else{
                    <div class="input-loading"></div>
                }
            </div>
            <i class="fas fa-clock"></i>
        </label>
        
        <label class="form-time-picker-box">
            <div>
                <span> até </span>
                @if (!loading) {
                    <input 
                        type="time" 
                        #end 
                        [value]="endValue"
                        (input)="updateEnd(end.value)" />  
                }@else{
                    <div class="input-loading"></div>
                }                
            </div>
            <i class="fas fa-clock"></i>
        </label>
    </div>
</div>