@use '../../../../../styles/mixins' as *;

button{
    @include flex-row-center;
    background-color: var(--color-text-destak);
    border: none;
    color: var(--color-text-light);
    padding: .8rem;
    gap: .5rem;
    height: 2rem;
    border-radius: .4rem;
    cursor: pointer;
    transition: all 0.3s ease;

    i{
        font-size: 1rem;
    }

    &:hover{
        transform: scale(1.1);
        transition: all 0.3s ease;
    }
}

.seccondary-button{
    background-color: var(--color-text-light);  
    color: var(--color-text-destak);
}