@use './mixins' as  *;

:host{
    width: 100%;
    height: 100%;
}

.page-content{
    @include flex-column-left-top;
    @include gap-2;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 1.5rem;
}