@use '../../../styles/mixins' as *;

.page-login-background {
    width: 100vw;
    height: 100vh;
    background-image: var(--image-background-login);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .page-login-content{
        @include flex-column-center-top;
        @include gap-3;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-surface-overlay);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow-y: auto;
    }
}

.dark-mode-section{
    @include padding-1_5;
    transform: scale(.7);
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
}
