@use '../../../../styles/mixins' as *;

:host {
    @include font-size-small;
    padding: 1rem 2rem;
    width: auto;
    color: var(--color-text-default);
    border-bottom: 1px solid var(--color-background-default);
    color: var(--color-text-primary);
}

:host(.button){
    width: 5%;
    min-width: clamp(40px, 5vh ,50px)
}

:host(.last-row-cell) {
    border-bottom: 0;
}